<a href="https://colab.research.google.com/github/jamandgar/NFL_Data_Analysis/blob/master/NFL_HallOfFame_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imports

In [201]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#CSV files to DataFrames
Data collected from Pro Football Reference:
https://www.pro-football-reference.com/play-index/psl_finder.cgi

###League-Wide Data

In [202]:
path = "drive/My Drive/NFL_Data/"
hof_players = pd.read_csv(path+"All_HOF.csv")
mvps_league = pd.read_csv(path+"All_MVP-NFL.csv")
mvps_sb = pd.read_csv(path+"All_MVP-SB.csv")

###Individual Player Data
Data was collected for quarterbacks (QB) who played in and retired from the National Football League (NFL) between 1920 - its inaugural year - and 2020. Those who played in the American Football League (AFL) before it merged with the NFL in 1970 are also included.

#####Quarterbacks

In [203]:
#Super Bowl (SB) appearances and victories (this is typically tracked for just 
#the quarterback position)
qb_sb_games = pd.read_csv(path+"QB_Championships.csv")

#Passing data
qb_passing = pd.read_csv(path+"QB_Passing.csv")

#Combined passing, rushing, and/or receiving data
qb_totals = pd.read_csv(path+"QB_Totals.csv")

#Other data related to in-game statistics, e.g. years played
qb_misc = pd.read_csv(path+"QB_Miscellaneous.csv")

#Data Cleaning

###League-Wide Data

In [204]:
hof_qbs = hof_players[hof_players['Pos'] == 'QB']

mvps_league = mvps_league['Player'].str.partition('\\')[0]
mvps_league = mvps_league.value_counts()

mvps_sb = mvps_sb['Player'].str.partition('\\')[0]
mvps_sb = mvps_sb.value_counts()

###Individual Player Data

#####Quarterbacks

In [205]:
##List of Super Bowl QBs is currently organized by the team they played for,
##which isn't necessary
qb_sb_games = qb_sb_games.stack()
qb_sb_games.reset_index(drop=True, inplace=True)

##Isolate win-loss records for each player into individual columns 
qb_sb_games = qb_sb_games.str.rpartition(' ')
qb_sb_games.rename(columns={0: 'Name', 2: 'Record'}, inplace=True)

qb_sb_games['Wins'] = qb_sb_games['Record'].str.partition('-')[0]
qb_sb_games['Wins'] = qb_sb_games['Wins'].str.partition('(')[2]

qb_sb_games['Played'] = qb_sb_games['Record'].str.partition('-')[2]
qb_sb_games['Played'] = qb_sb_games['Played'].str.partition(')')[0]

qb_sb_games = qb_sb_games.astype({'Wins': 'int32', 'Played': 'int32'})
qb_sb_games['Played'] += qb_sb_games['Wins']
qb_sb_games.drop(columns=[1, 'Record'], inplace=True)
qb_sb_games

                   Name  Wins  Played
0        Terry Bradshaw     4       4
1        Neil O'Donnell     0       1
2    Ben Roethlisberger     2       3
3          Drew Bledsoe     0       1
4             Tom Brady     6       9
..                  ...   ...     ...
61         Ken Anderson     0       1
62       Boomer Esiason     0       1
63          Kurt Warner     0       1
64         Steve McNair     0       1
65       Stan Humphries     0       1

[66 rows x 3 columns]